// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@tailwind base;

@tailwind components;

@tailwind utilities;


a, button {
  outline: 0;
}

.btn {
  @apply inline-block bg-orange-500 text-white py-3 px-8 rounded-full shadow;

  &:hover {
    @apply bg-orange-600;
  }
}
