<template>
  <div>
    <!-- <side-image
      v-bind="sideTexts"
      image="https://images.unsplash.com/photo-1523814653570-cadef6dc7a68?auto=format&fit=crop&w=825&q=80"
    /> -->
    <!-- <contact-form /> -->
  </div>
</template>

<script>
// import SideImage from '@components/SideImage.vue';
// import ContactForm from '@components/ContactForm.vue';

export default {
  name: 'About',
  components: {
    // SideImage,
    // ContactForm,
  },
  // setup(props, ctx) {
  //   const sideTexts = {
  //     title: ctx.root.$t('about.side.title'),
  //     description: ctx.root.$t('about.side.description'),
  //   };

  //   return {
  //     sideTexts,
  //   };
  // },
};
</script>

<style></style>
