<template>
  <div id="app">
    <!-- <nav
      :class="{ scrolled: scrolled }"
      class="nav"
    >
      <div class="nav-content container">
        <h2>My app</h2> -->
    <!-- <ul class="links">
          <li
            v-for="(link, index) in links"
            :key="index"
          >
            <router-link :to="link.path">
              {{ link.label }}
            </router-link>
          </li>
        </ul> -->
    <!-- </div>
    </nav> -->
    <div class="wrapper">
      <router-view />
    </div>
  </div>
</template>

<script>
import { value } from 'vue-function-api';

export default {
  name: 'App',
  setup() {
    const scrolled = value(false);
    // const links = [
    //   {
    //     label: 'Home',
    //     path: '/',
    //   },
    //   // {
    //   //   label: 'Products',
    //   //   path: '/products',
    //   // },
    //   // {
    //   //   label: 'About',
    //   //   path: '/about',
    //   // },
    // ];

    // const onScroll = () => {
    //   scrolled.value = window.scrollY > 50;
    // };

    // onMounted(() => {
    //   window.addEventListener('scroll', onScroll, false);
    // });

    // onBeforeDestroy(() => {
    //   window.removeEventListener('scroll', onScroll, false);
    // });

    return {
      scrolled,
      // links,
    };
  },
};
</script>

<style lang="scss" scoped>
.nav {
  @apply h-20 bg-white fixed z-40 w-full top-0;

  &.scrolled {
    @apply shadow-xl;
  }

  .nav-content {
    @apply h-full mx-auto flex items-center;

    h2 {
      @apply text-2xl text-orange-400;
    }

    .links {
      @apply ml-auto;
    }
  }
}

.links {
  @apply flex;

  li {
    @apply mx-2;

    a {
      @apply text-lg relative block text-gray-600;

      &:after {
        content: '';
        height: 2px;
        @apply absolute w-full bg-orange-400 left-0 bottom-0 mt-2;
        transform: scaleX(0);
        transform-origin: 0% 50%;
        transition: transform 0.2s ease;
      }

      &.router-link-exact-active {
        @apply text-gray-800;

        &:after {
          transform: scaleX(1);
        }
      }
    }
  }
}

.wrapper {
  @apply mt-20;
}
</style>
