<template>
  <div>
    Hello from home

    <!-- <hero
      v-bind="heroTexts"
      background="https://images.unsplash.com/photo-1524758631624-e2822e304c36?auto=format&fit=crop&w=1650&q=80"
    /> -->
    <!-- <h4 class="text-3xl mt-16 mb-8 container mx-auto px-4">
      Our best products
    </h4>
    <div class="listing container mx-auto my-8">
      <div
        v-for="product in products"
        :key="product.id"
        class="item md:w-1/2 lg:w-1/3 xl:w-1/4"
      >
        <product-item v-bind="product" />
      </div>
      <template v-if="loading">
        <div
          v-for="i in 3"
          :key="i"
          class="item md:w-1/2 lg:w-1/3 xl:w-1/4"
        >
          <product-item-placeholder />
        </div>
      </template>
    </div> -->
  </div>
</template>

<script>
// import { computed as c } from 'vue-function-api';
// import Hero from '@components/Hero.vue';
// import ProductItemPlaceholder from '@components/ProductItemPlaceholder';
// import ListingQuery from '@/graphql/build/listing';

// const ProductItem = () => import('@components/ProductItem');

export default {
  name: 'Home',
  components: {
    // Hero,
    // ProductItemPlaceholder,
    // ProductItem,
  },
  // setup(props, { root }) {
  //   const heroTexts = {
  //     title: root.$t('home.hero.title'),
  //     description: root.$t('home.hero.description'),
  //     ctaLabel: root.$t('home.hero.ctaLabel'),
  //     ctaUrl: root.$t('home.hero.ctaUrl'),
  //   };

  //   // const { listing, loading } = ListingQuery(root, {
  //   //   take: 4,
  //   //   hightlight: true,
  //   // });
  //   // const products = c(() => listing.value.data);

  //   return {
  //     heroTexts,
  //     // products,
  //     // loading,
  //   };
  // },
};
</script>

<style lang="scss" scoped>
.listing {
  @apply flex flex-wrap;
}
</style>
