<template>
  <div>
    <!-- <div class="listing container mx-auto">
      <div
        v-for="product in products"
        :key="product.id"
        class="item md:w-1/2 lg:w-1/3 xl:w-1/4"
      >
        <product-item v-bind="product" />
      </div>
      <template v-if="loading">
        <div
          v-for="i in 5"
          :key="i"
          class="item md:w-1/2 lg:w-1/3 xl:w-1/4"
        >
          <product-item-placeholder />
        </div>
      </template>
    </div> -->
    <!-- <div
      v-if="listing.has_more_pages"
      class="loadmore"
    >
      <button
        @click="loadMore"
        class="btn"
      >
        Load more
      </button>
    </div> -->
  </div>
</template>

<script>
// import { computed as c } from 'vue-function-api';
// import ProductItemPlaceholder from '@components/ProductItemPlaceholder';
// import ListingQuery from '@/graphql/build/listing';

// const ProductItem = () => import('@components/ProductItem');

export default {
  name: 'Products',
  components: {
    // ProductItem,
    // ProductItemPlaceholder,
  },
  // setup(props, { root }) {
  //   const { listing, loading, page } = ListingQuery(root);

  //   const products = c(() => listing.value.data);

  //   // const loadMore = () => {
  //   //   page.value++;

  //   //   root.$apollo.queries.listing.fetchMore({
  //   //     // New variables
  //   //     variables: {
  //   //       page: page.value,
  //   //     },
  //   //     // Transform the previous result with new data
  //   //     updateQuery: (previousResult, { fetchMoreResult }) => {
  //   //       const newData = fetchMoreResult.products.data;
  //   //       const { has_more_pages } = fetchMoreResult.products;

  //   //       return {
  //   //         products: {
  //   //           __typename: previousResult.products.__typename,
  //   //           // Merging the tag list
  //   //           data: [...previousResult.products.data, ...newData],
  //   //           has_more_pages,
  //   //         },
  //   //       };
  //   //     },
  //   //   });
  //   // };

  //   return {
  //     listing,
  //     products,
  //     // loadMore,
  //     loading,
  //   };
  // },
};
</script>

<style lang="scss" scoped>
.listing {
  @apply flex flex-wrap;
}

.loadmore {
  @apply block my-16 mx-auto text-center;
}
</style>
