<template>
  <div class="wrapper container mx-auto px-8 my-16">
    <h4 class="text-3xl text-gray-800 text-center mb-8">
      Contact us
    </h4>
    <div class="row">
      <div>
        <label
          class="block text-gray-800 text-sm mb-2"
          for="name"
        >
          Name
        </label>
        <input
          id="name"
          v-validate="'required'"
          v-model="name"
          name="name"
          class="field"
          type="text"
        >
        <div class="text-xs text-red-500 mt-2">
          {{ errors.first('name') }}
        </div>
      </div>
      <div class="ml-4">
        <label
          class="block text-gray-800 text-sm mb-2"
          for="surname"
        >
          Surname
        </label>
        <input
          id="surname"
          v-validate="'required'"
          v-model="surname"
          name="surname"
          class="field"
          type="text"
        >
        <div class="text-xs text-red-500 mt-2">
          {{ errors.first('surname') }}
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <label
          class="block text-gray-800 text-sm mb-2"
          for="name"
        >
          Email
        </label>
        <input
          id="email"
          v-validate="'required|email'"
          v-model="email"
          name="email"
          class="field"
          type="text"
        >
        <div class="text-xs text-red-500 mt-2">
          {{ errors.first('email') }}
        </div>
      </div>
      <div class="ml-4">
        <label
          class="block text-gray-800 text-sm mb-2"
          for="file"
        >
          Attachment
        </label>
        <div class="field upload py-0">
          <input
            id="file"
            @change="setFile"
            class="absolute opacity-0 w-full"
            type="file"
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 100 100"
            class="w-6 h-6"
          >
            <g transform="translate(0,-952.36218)">
              <path
                d="m 50,968.36217 c -7.158,0 -14.3549,2.72997 -19.8125,8.1875 -4.0587,4.05867 -6.5192,9.09353 -7.5625,14.34373 -10.5909,2.0546 -18.6250001,11.3039 -18.6250001,22.4688 0,12.6669 10.3330001,23 23.0000001,23 l 49,0 c 11.0281,0 20,-8.9719 20,-20 0,-10.4082 -8.0182,-18.8811 -18.1875,-19.8125 0.047,-7.2391 -2.5242,-14.493 -8.0313,-20.00003 C 64.3284,971.09659 57.158,968.36217 50,968.36217 z m 0,6 c 5.6382,0 11.2215,2.09633 15.5312,6.40625 4.9804,4.98028 7.0879,11.74678 6.3126,18.21878 a 3.0003,3.0003 0 0 0 2.9687,3.375 l 1.1875,0 c 7.8079,0 14,6.1921 14,14 0,7.8079 -6.1921,14 -14,14 l -49,0 c -9.4242,0 -17,-7.5758 -17,-17 0,-8.8999 6.7685,-16.1505 15.4375,-16.9375 a 3.0003,3.0003 0 0 0 2.6875,-2.625 c 0.552,-4.7551 2.6561,-9.3749 6.3125,-13.03128 4.3056,-4.30547 9.9243,-6.40625 15.5625,-6.40625 z m 0,18.00003 c -1.0002,0 -1.529,0.3218 -2.0312,0.7812 l -11,10 c -1.2701,1.1788 -1.248,3.0919 -0.1876,4.25 1.0605,1.1581 3.0865,1.2419 4.25,0.1875 l 5.9688,-5.4375 0,19.2188 c 0,1.6568 1.3429,3 3,3 1.6572,0 3,-1.3432 3,-3 l 0,-19.2188 5.9688,5.4375 c 1.1635,1.0544 3.1284,0.9115 4.25,-0.1875 1.1819,-1.1581 0.9655,-3.1841 -0.1876,-4.25 l -11,-10 C 51.437,992.5993 51.0002,992.3622 50,992.3622 z"
              />
            </g>
          </svg>
          <span class="block ml-2 text-sm">Upload file here</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div>
        <label
          class="block text-gray-800 text-sm mb-2"
          for="name"
        >
          Message
        </label>
        <textarea
          id="message"
          v-validate="'required'"
          v-model="message"
          name="message"
          class="field"
        />
        <div class="text-xs text-red-500 mt-2">
          {{ errors.first('message') }}
        </div>
      </div>
    </div>
    <div class="flex justify-center my-8">
      <button
        :disabled="loading"
        :class="{
          disabled: loading,
        }"
        @click="sendMessage"
        class="btn"
      >
        Send message
      </button>
    </div>
  </div>
</template>

<script>
import { value as v, inject } from 'vue-function-api';
import Axios from 'axios';

export default {
  name: 'ContactForm',
  setup() {
    const values = {
      name: v(''),
      surname: v(''),
      email: v(''),
      file: v(null),
      message: v(''),
    };
    const loading = v(false);

    const validator = inject('$validator');

    const setFile = event => {
      const files =
        Array.from(
          event.dataTransfer ? event.dataTransfer.files : event.target.files,
        ) || [];

      // eslint-disable-next-line prefer-destructuring
      values.file.value = files[0];
    };

    const reset = () => {
      Object.values(values).forEach(item => {
        item.value = '';
      });

      validator.reset();
    };

    const sendMessage = async () => {
      loading.value = true;

      const result = await validator.validate();

      if (result) {
        const formData = new FormData();

        Object.keys(values).forEach(item => {
          formData.append(item, values[item].value);
        });

        await Axios.post('/api/contact', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        });

        reset();
      }

      loading.value = false;
    };

    return {
      ...values,
      setFile,
      sendMessage,
      loading,
    };
  },
};
</script>

<style lang="scss" scoped>
.row {
  @apply flex justify-center my-2 max-w-xl mx-auto;

  > div {
    @apply flex-1;
  }
}

.field {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.btn {
  &.disabled {
    @apply bg-gray-400 text-gray-600;
  }
}

.upload {
  @apply relative flex items-center;
}
</style>
