<template>
  <div
    :style="{ backgroundImage: `url(${background}` }"
    class="wrapper"
  >
    <div class="content">
      <h4
        v-if="title"
        class="title"
      >
        {{ title }}
      </h4>
      <div
        v-if="description"
        v-html="description"
        class="description"
      />
      <div class="btn-content">
        <router-link
          v-if="hasCta"
          :to="ctaUrl"
          class="btn"
        >
          {{ ctaLabel }}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { computed as c } from 'vue-function-api';

export default {
  name: 'Hero',
  props: {
    background: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    ctaLabel: {
      type: String,
      default: '',
    },
    ctaUrl: {
      type: String,
      default: '',
    },
  },
  setup(props) {
    const { ctaLabel, ctaUrl } = props;

    const hasCta = c(() => {
      return ctaLabel && ctaUrl;
    });

    return {
      hasCta,
    };
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  height: calc(100vh - 5rem);
  border-top-left-radius: 60px;
  @apply relative bg-center bg-cover flex items-center justify-center overflow-hidden;

  &:before {
    content: '';
    @apply absolute inset-0;
    background: rgba(#000, 0.2);
  }
}

.content {
  @apply relative text-center max-w-lg;
  z-index: 1;
}

.title {
  @apply text-5xl text-white my-4;
}

.description {
  @apply text-base text-white my-4;
}

.btn-content {
  @apply my-4;
}
</style>
