<template>
  <div
    :style="{
      height: `${height}px`,
      width: `${width}px`,
    }"
    :class="{
      image: isImage,
    }"
    class="loading"
  />
</template>

<script>
export default {
  name: 'LoadingElement',
  props: {
    height: {
      type: Number,
      default: 100,
    },
    width: {
      type: Number,
      default: 400,
    },
    isImage: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
.loading {
  @apply bg-gray-200 rounded;
  animation: loading 1s infinite;

  &.image {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

@keyframes loading {
  0%,
  100% {
    @apply bg-gray-200;
  }

  50% {
    @apply bg-gray-300;
  }
}
</style>
