<template>
  <div class="py-4 px-4">
    <loading-element
      :height="210"
      :width="288"
      is-image
    />
    <loading-element
      :height="60"
      :width="288"
      class="mt-4"
    />
    <div class="flex justify-between mt-4">
      <loading-element
        :height="24"
        :width="84"
      />
      <loading-element
        :height="24"
        :width="80"
      />
    </div>
  </div>
</template>

<script>
import LoadingElement from '@components/LoadingElement.vue';

export default {
  name: 'ProductItemPlaceholder',
  components: {
    LoadingElement,
  },
};
</script>

<style lang="scss" scoped></style>
