<template>
  <div class="product">
    <a
      :href="url"
      class="content"
    >
      <div class="image">
        <img :src="image">
      </div>
      <h4 class="name">{{ name }}</h4>
      <div class="bottom">
        <div class="goto">
          <i />
          See more
        </div>
        <h5 class="price">
          {{ $n(price, 'currency') }}
        </h5>
      </div>
    </a>
  </div>
</template>

<script>
import { computed } from 'vue-function-api';

export default {
  name: 'ProductItem',
  props: {
    id: {
      type: Number,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
    price: {
      type: Number,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const url = computed(() => `/product/${props.id}`);

    return {
      url,
    };
  },
};
</script>

<style lang="scss" scoped>
.product {
  @apply py-4 px-4;
}

.image {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  @apply overflow-hidden;
}

.name {
  @apply text-xl mt-4 text-gray-800;
}

.price {
  @apply text-base text-gray-700;
}

.bottom {
  @apply flex justify-between mt-2;
}

.goto {
  @apply flex items-center text-orange-500 text-xs uppercase;

  > i {
    @apply block w-4 bg-orange-400 mr-2;
    height: 2px;
  }
}
</style>
