<template>
  <div class="wrapper">
    <div class="image">
      <img :src="image">
    </div>
    <div class="body">
      <div class="content">
        <h4
          v-if="title"
          class="title"
        >
          {{ title }}
        </h4>
        <div
          v-if="description"
          v-html="description"
          class="description"
        />
        <div class="btn-content">
          <router-link
            v-if="hasCta"
            :to="ctaUrl"
            class="btn"
          >
            {{ ctaLabel }}
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { computed as c } from 'vue-function-api';

export default {
  name: 'SideImage',
  props: {
    image: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    ctaLabel: {
      type: String,
      default: '',
    },
    ctaUrl: {
      type: String,
      default: '',
    },
  },
  setup(props) {
    const { ctaLabel, ctaUrl } = props;

    const hasCta = c(() => {
      return ctaLabel && ctaUrl;
    });

    return {
      hasCta,
    };
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  height: calc(100vh - 5rem);
  @apply flex;
}

.image {
  border-top-left-radius: 60px;
  @apply relative overflow-hidden;

  &:before {
    content: '';
    @apply absolute inset-0;
    background: rgba(#000, 0.2);
  }

  img {
    @apply object-cover object-center h-full w-full;
  }
}

.content {
  @apply relative text-left py-4 px-16;
}

.image,
.body {
  @apply flex-1 w-1/2;
}

.title {
  @apply text-4xl text-gray-800 my-4;
}

.description {
  @apply text-base text-gray-600 my-4;
}

.btn-content {
  @apply my-4;
}
</style>
